@model RoleManagementVM
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0  py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">
                    Manage User Role
                </h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            @if (Model != null)
            {
                <input asp-for="@Model.ApplicationUser.Id" hidden />
            }
            <div class="border p-3 mt-4">
                <div class="form-floating py-2 col-12">
                    <input asp-for="ApplicationUser.Name" readonly class="form-control border-0 shadow" />
                    <label asp-for="ApplicationUser.Name" class="ms-2"></label>
                </div>
                <div class="form-floating col-12 mb-2">
                    <select asp-for="ApplicationUser.Role" asp-items="@Model.RoleList" class="form-select">
                        <option disabled selected>Select Role</option>
                    </select>
                </div>
                @{
                    var companyVisible = "display:none;";
                }
                @if (Model.ApplicationUser.Role == SD.Role_Company)
                {
                    companyVisible = "display:block;";
                }
                <div class="form-floating  col-12">
                    <select asp-for="ApplicationUser.CompanyId" style="@companyVisible" asp-items="@Model.CompanyList" class="form-select">
                        <option disabled selected>Select Company</option>
                    </select>
                    <span class="text-danger">@ViewBag.Error</span>
                </div>
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Update Role <i class="bi bi-arrow-down-up"></i></button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="User" asp-action="Index" class="btn btn-outline-primary border form-control">
                            <i class="bi bi-card-list"></i> Back to List
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@* use for client side validation add partial which is defauld given by VS *@
@* its script that why we added this way unless we can use partial directly in chtml *@

@section Scripts{

    <partial name="_ValidationScriptsPartial" />

    <script>
        $(document).ready(function () {
            $('#ApplicationUser_Role').change(function () {
                var selectedItem = $('#ApplicationUser_Role Option:Selected').text();
                if (selectedItem == 'Company') {
                    $('#ApplicationUser_CompanyId').show();                   
                }
                else {
                    $('#ApplicationUser_CompanyId').hide();
                }
            });         
        })
    </script>

}
